@media only screen and (max-width: 600px) {
    .banner .content-right .img {
        width: 100%;
        height: auto;

    }

    .why-choose-item, .discount-item {
        margin-bottom: 30px;
    }

    .testimonial .content-left, .testimonial .content-right {
        width: 100%;
    }

    .testimonial .content-right .card {
        margin-top: 60px;
    }

    .subscribe-promo .form-wrapper {
        padding: 0 18px;
    }
}

@media screen and (min-width: 1200px) {
    .d-xl-flex {
        display: flex;
    }

}
    
